<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FollowUp</title>
</head>

<body>

  <a href="/deals">deals</a>
  <a href="/contacts">contacts</a>
  <a href="/deals/newdeal">addDeal</a>
  {{{body}}}

</body>

</html>