<ul class="people_list">
    {{#each contacts}}
    <li><a href="/contacts/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></li>
    {{/each}}
</ul>

<a href="/deals">deals</a>
<a href="/contacts">contacts</a>
<a href="/deals/addDeal">addDeal</a>