<h1>Welcome {{user.firstname}}!</h1>
<style>
    .chart-container {
        width: 500px;
        height: 500px;
    }
</style>
<div class="chart-contaier" width="300px" height="300px">
    <canvas id="myChart"></canvas>
</div>
<script src="./js/Chart.js"></script>
<script src="./js/Chart.bundle.js"></script>
<script src="./js/deal.js"></script>