<h1>FollowUP</h1>

<form action="/deals/createDeal" method="POST">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="status" id="status" placeholder="Status"><br>
    <input type="text" name="amount" id="amount" placeholder="$"><br>
    <input type="submit">
</form>