<h1>{{deal.name}}</h1>

<ul class="people_list">
    {{#each deal.Contacts}}
    <li><a href="/contacts/{{this.id}}"> {{this.firstName}}</a></li>
    {{/each}}
</ul>
<h4>add Contacts</h4>

<form action="/deals/{{deal.id}}/addContact" method="POST">
    <input type="text" name="firstName" id="firstName" placeholder="First Name"><br>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br>
    <input type="text" name="company" id="company" placeholder="Company"><br>
    <input type="text" name="addressOne" id="addressOne" placeholder="Address 1"><br>
    <input type="text" name="addressTwo" id="addressTwo" placeholder="Address 2"><br>
    <input type="text" name="city" id="city" placeholder="City"><br>
    <input type="text" name="state" id="tate" placeholder="State"><br>
    <input type="text" name="zip" id="zip" placeholder="Zip"><br>
    <input type="tel" name="phone" id="phone" placeholder="Mobile"><br>


    <input type="submit">
</form>