<h1>Your Contacts</h1>


<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
    </tr>
    {{#each companies}}
    <tr>
        <td scope="row"><a href="/companies/{{id}}"> {{name}}</a></td>
        <td>{{phone}}</td>
        <td> </td>
    </tr>
    {{/each}}
</table>