h1,
h2,
h3,
h4,
td {
	color: #777;
}
.grey {
	color: #777;
}

div.philly {
	background-image: url('./assets/images/philly.png');
	background-color: #cccccc;
	height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
